/* Fonts */
$generalFont: 'Stolzl';

/* Colors */
$mainFontColors: #141414;
$linkFontColors: #ffffff;
$bgColors: #e5e5e5;

/* Breakpoints */
$mobile: 375px;

$transition: 1.75s cubic-bezier(0.2, 0.6, 0, 1);
