@import '../../styles/vars';

.sort {
  position: relative;
  margin-bottom: 50px;
  &__svg {
    margin-right: 8px;
  }
  &__svg_open {
    transform: rotate(180deg);
  }
  &__label {
    display: flex;
    justify-content: end;
    align-items: center;

    b {
      margin-right: 8px;
    }

    span {
      color: #ce8df4;
      border-bottom: 1px dashed #ce8df4;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: #ce8df4;
        }
      }
    }
  }
}
